force-app/main/default/flows/AL_Record_Channel_Swarm_Component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Dupe experience for the component but with a record channel</description>
    <environments>Default</environments>
    <formulas>
        <name>fSwarmURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://slack.com/app_redirect?channel=&quot;&amp;{!inputChannelSlackID}&amp;&quot;&amp;team=&quot;&amp;{!vTeamID}</expression>
    </formulas>
    <interviewLabel>AL Record Channel Swarm Component {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL Record Channel Swarm Component</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Slack Channel</description>
        <name>Create_Collab_Room</name>
        <label>Create Collab Room</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Create_Swarm</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>RMC for {!inputRecordID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlatformKey</field>
            <value>
                <elementReference>inputChannelSlackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamKey</field>
            <value>
                <elementReference>vTeamID</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationRoom</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>this is what makes it appear on the page</description>
        <name>Create_Swarm</name>
        <label>Create Swarm</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>CollaborationRoomId</field>
            <value>
                <elementReference>Create_Collab_Room</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationTool</field>
            <value>
                <stringValue>Slack</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationUrl</field>
            <value>
                <elementReference>fSwarmURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Swarm for {!inputRecordID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>inputRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>DealRoom</stringValue>
            </value>
        </inputAssignments>
        <object>Swarm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_CR</name>
        <label>Find CR</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collab_Room</targetReference>
        </connector>
        <object>CollaborationRoom</object>
        <outputAssignments>
            <assignToReference>vTeamID</assignToReference>
            <field>TeamKey</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_CR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputChannelSlackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTeamID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
